html {
        font-size: 16px;
        letter-spacing: 2px;
}

body {
        margin: 0;
}

/*header*/
header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid black;
        height: 100px;
        background-color: rgba(0,0,0,0.9);

}

#tablet {
        display: none;
}

#company {
        text-align: center;
        color: white;
}

#logo {
        height: 70px;
}

#company h3 {
        margin: 0;
}

#list1 {
        display: flex;
        list-style: none;
}

#list1 li, #list2 h4 {
        margin: 2rem;
        font-size: 1.17rem;
        color: white;
}

#list2 {
        display: flex;       
}

/*studio*/
#maincontainer1 {
        display: flex;
        flex-wrap: wrap;
}

#container1 {
        background-color: gold;
        display: flex;
        flex-direction: column;
        width: auto;
}

#studio {
        text-align: center;
        margin: 50px 0;
}

#studio h3 {
        margin-bottom: 30px
}

#containerStudioImg {
        display: flex;
        flex-wrap:wrap-reverse;
        justify-content: center;
}

.studioImg {
        width:265px;
        height:190px;
}

#containerOffer {
        font-size: 16px;
        letter-spacing: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: auto;
}

#offer {
        line-height: 3;
}

#define {
        font-size: 16px;
        letter-spacing: 2px;
        text-align: center;
        padding: 2rem;
        line-height: 3;
}

#join a{
        text-decoration: none;
        border: 1px solid black;
        display: inline;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        box-shadow: 3px 10px 10px gold;
        background-color: lightblue;
}

#join a:hover {
        background-color:white
}

#join a:active {
        box-shadow:none;
        font-size: larger;
}

#story {
        background-position: center;
        width: 100%;
        height: 40px;
        display: grid;
        grid-template: repeat(4, 1fr)/ repeat(3, 1fr);
        grid-template-areas: 
        "a a a"
        "b c c"
        "d e f"
        "g g h"
}

#storyTopic { 
        grid-area: a;
        text-align: center;
        margin: 3rem;
}

#story3 {
        grid-area: b;
}

#Paul {
        grid-area: c;
        line-height: 2;
        padding: 2rem;
}

#story2 {
        grid-area: e;
}

#Nina {
        grid-area: f;
        line-height: 2;
        padding: 2rem;
}

#story1 {
        grid-area: h;
}

#Hulk {
        grid-area: g;
        text-align:right;
        line-height: 2;
        padding: 2rem;
}

.cstory {
        object-fit: cover;
        height: 100%;
        width: 100%;
}

/*Footer*/
footer {
        margin: 772px auto 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-right: 10rem;
        width: 100%;
        background-color: gold;
        margin-right: 0px;
        padding-right: 0px;
}

#tablet-f {
        display:none;
}

footer img {
        width: 5%;
        margin: 0 1rem;
}

#follow {
        text-align: center;
        width: auto;
        background-color: gold;
}

#contact p {
        line-height: 1.5;
        text-align: left;
        margin-left: 10rem;
}

 /*Laptop-1024px*/
 @media only screen and (max-width: 1024px) {
        #mobile {
                display: none;
        }
        
        #maincontainer1 {
                flex-wrap: nowrap;
        }
        #container1 { 
                width: 75%;
        }
        .studioImg {
                width: 365px;
        }

        footer {
                margin-top: 617px; 
        }
}

  /*Tablet*/
  @media only screen and (max-width: 768px) {
        #laptop {
         display: none;
        } 
 
        #tablet {
         display: flex;
         flex-direction: column;
         height: auto;
         }
 
         #tablet #list1 li{
                 padding-left: 0px;
                 margin-top: 0px;
                 margin-bottom: 0px;
         }
 
         .studioImg {
                 width: 120%;
         }
 
         #container1 {
                 width: 90%;
         }
 
         #studio {
                 padding: 0 1rem;
         }
 
         #tablet-f {
                 margin-top: 669px;
                 display: flex;
                 flex-direction: row;
         } 
 }

 @media only screen and (max-width: 426px) {
        #tablet {
                display: none;
        }

        body {
                width: fit-content;
        }

        #mobile {
                display:contents;
                display: flex;
                flex-direction: column;
                height: auto;
                justify-content: center;
                align-items: center;
                width: auto;
        }

        #list1 {
                padding: 0;
                margin: 0;
        }

        #maincontainer1 {
                flex-wrap: wrap;
        }

        #container1 {
                width: 100%;
        }

       #story {
        display: contents;
       }

       #tablet-f {
        margin-top: auto;
        flex-direction: column;
        text-align: center;
       }

 }

 @media only screen and (min-width:426px) {
        #mobile {
                display: none;
        }
 }



